@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-around;
  grid-template-areas: "header header header" "main main main " "footer footer footer ";
}

header {
  grid-area: header;
}

.btn.btn-outline-success.my-2.my-sm-0 {
  transform: rotate(10deg);
}

header ul {
  height: 50px;
  background-color: rgb(58, 58, 58);
  flex-grow: 2;
  display: grid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

header ul li {
  list-style-type: none;
}

.navbar-brand {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.nav-link {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px; 
  font-weight: bold;
  align-items: center;
}

a {
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav {
  grid-area: nav;
  background-color: rgb(189, 189, 184);
}

img {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 100%;
}

main {
  grid-area: main;
  background-color: white;
}

.btn.btn-primary.btn-lg {
  width: 150px;
  height: 50px;
  transition: width 0.3s ease, height 0.3s ease;
}

.btn.btn-primary.btn-lg:hover {
  width: 200px;
  height: 60px;
}

.btn.btn-secondary {
  width: 150px;
  height: 45px;
  transition: width 0.3s ease, height 0.3s ease;
}

.btn.btn-secondary:hover {
  background-color: green;
  width: 180px;
  height: 50px;
}

#boton_pie {
  display: inline-block;
  perspective: 500px; 
  transform-style: preserve-3d; 
  transition: transform 0.3s ease;
}

#boton_pie:hover {
  transform: translateY(-5px) translateZ(5px) rotateX(-10deg);
  background-color: yellow;
}

.btn.btn-primary {
  width: 150px;
  height: 50px;
  transition: width 0.3s ease, height 0.3s ease;
}

.btn.btn-primary:hover {
  width: 200px;
  height: 60px;
}

h1.display-3 {
  font-family: "Arial", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.mi-clase {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.mensaje {
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.exclusivos {
  font-family: "Arial", sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
}

footer {
  grid-area: footer;
  background-color: rgb(189, 189, 184);
}

.imagenes img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .imagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 100%;
    padding: 0 10px; 
  }
}
/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
  }
}
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  margin-left: 230px;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: 0px; 
  margin-left: 230px; 
}

/*# sourceMappingURL=style.css.map */
