* {
  margin: 0;
  padding: 0;
  
}

body {
  height:100vh;
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr 1fr 1fr;
  justify-content: space-around;
  grid-template-areas: 
  "header header header"
  "main main main "
  "footer footer footer ";
}

/* HEADER */

header {
  grid-area: header;
}

header ul {
  height: 50px;
background-color: rgb(58, 58, 58);
flex-grow:2;
display: grid;
display: flex;
flex-direction:row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;

}


header ul li {
  list-style-type: none;
  
}


a {
  text-decoration: none;
  color:white;
}


nav {
  display: flex; 
  flex-wrap: wrap; 
  justify-content:space-between ;
 
}


nav {
  grid-area: nav;
  background-color:rgb(189, 189, 184);
}


img  {
  
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 100%;
} 



/* MAIN */

main {
  grid-area: main;
background-color:white;
}

/* FOOTER */

footer {
  grid-area: footer;

background-color: rgb(189, 189, 184);
}

/* Estilos generales */
.imagenes img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  /* Añade cualquier otro estilo que desees para las imágenes */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .imagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 100%;
    padding: 0 10px; /* Opcional: agrega un espaciado lateral */
  }
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Opcional: agrega un espaciado lateral */
  }
}

