header {
    grid-area: header;
  }
  
   
  .btn.btn-outline-success.my-2.my-sm-0 {
    transform: rotate(10deg);
  }

  header ul {
    height: 50px;
  background-color: rgb(58 , 58, 58);
  flex-grow:2;
  display: grid;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  align-items: center;
  }
  
  
  header ul li {
    list-style-type: none; 
  }
  
.navbar-brand{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  
}

  .nav-link{
    font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px; /* Tamaño de fuente deseado */
  font-weight: bold;
  align-items: center;
  }

  
  a {
    padding:10px; 
  margin-bottom:10px;
  text-decoration:none;
  color:$black;
  }
  
  
  nav {
    display: flex; 
    flex-wrap: wrap; 
    justify-content:space-between ; 
  }
  
  
  nav {
    grid-area: nav;
    background-color:$gris;
  }
  
  
  img  {
    
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     max-width: 100%;
   } 
  
  
  
  